<select class="form-control" {{action 'change' on='change'}} disabled={{disabled}}>
    {{#each content as |item|}}
        <option value="{{item}}" selected={{is-equal item selectedValue}}>
            {{item}}
        </option>
    {{/each}}
</select>
